<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navBar1">

    <a href="" class="logo">Y&W</a>

   <div class="navBar2">
    <a href="/home" class="home">Home</a>
    <a href="/about" class="about">About</a>
    <a href="/contact" class="contact">Contact</a>
   </div>

</div>
    </header>
  
<main>

    <p>This app retrieves the latitude and longitude 
        of a location based on the selected country and city using a public geocoding API.
         It then uses these coordinates to fetch a 7-day weather forecast, including temperature and other data,
          from another public weather API.
    </p>

    </main>


<footer class="footer">

<div >
<p>copyrights @  <%= new Date().getFullYear() %></p>
</div>

</footer>
</body>
</html>